# Parser for RateBeer

In this notebook, we are parsing the HTML pages from the RateBeer website.

In [1]:
import os
os.chdir('..')

In [2]:
from classes.parser import *

import pandas as pd
import numpy as np
import datetime
import time
import html
import gzip
import re
import os

data_folder = '../data/'

# For the Python notebook
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [3]:
parser = Parser(data_folder)

# Parse the breweries from the places

In [4]:
parser.parse_breweries_from_places()

# Parse the beers from the breweries

In [18]:
parser.parse_brewery_files()

# Parse the beer files for information

In [172]:
parser.parse_beer_files_for_information()

# Parse the beer files for the reviews

In [7]:
parser.parse_beer_files_for_reviews()

# Get the users from the ratings

In [12]:
parser.get_users_from_ratings()

# Parse the user files for information

In [4]:
parser.crawl_all_users()

In [5]:
df = pd.read_csv('../data/parsed/users.csv')

In [6]:
df

,nbr_ratings,user_id,user_name,joined,location
0,2,288889,Sibarh,1384599600,Poland
1,1,37316,Lowenbrau,1147860000,Spain
2,1,331002,cglans,1408010400,NaN
3,1,250510,fombe89,1363950000,Spain
4,1,253265,angel77,1365415200,Spain
5,5,305728,markoijelena,1393671600,Serbia
6,2,94354,mtitov,1250157600,Russia
7,1,430218,MorgKrig,1476266400,Switzerland
8,6,31748,BuckeyeBoy,1136026800,"United States, Idaho"
9,1,205447,kraddel,1342605600,Belgium
10,1,80551,thorongil2,1219226400,Canada
11,36,186952,Cantabrian,1340013600,New Zealand
12,1,7204,DanielBrown,1049191200,England
13,1,219922,Lore,1348999200,Hungary
14,44,38926,fonefan,1150970400,Denmark
15,1,117914,mzaar,1290769200,Sweden
16,52,111306,Camons,1281261600,Denmark
17,39,91218,chrisv10,1242727200,Denmark
18,33,121469,Rasmus40,1295348400,Denmark
19,4,174823,KeefOz,1337076000,Australia
20,3,132002,NordicV,1310896800,Sweden
21,2,113356,KingCecil,1284199200,Denmark
22,2,83066,hallinghansen,1224237600,Denmark
23,2,11751,haf,1081936800,Spain
24,1,149551,foxo82,1325674800,England
25,17,229286,olliejobbins,1353409200,England
26,4,68931,italianjohn,1201950000,"United States, Pennsylvania"
27,1,80423,Linnet,1219053600,Sweden
28,4,36974,DruncanVeasey,1147082400,England
29,3,122778,kevnic2008,1296644400,Germany
...,...,...,...,...,...
1503,1,37058,JCB,1147255200,"United States, North Carolina"
1504,1,21668,beerbill,1113904800,"United States, New York"
1505,1,5355,ARMed,1028973600,"United States, Pennsylvania"
1506,1,417427,radassace,1466330400,Scotland
1507,1,387604,Xevious,1444644000,"United States, Texas"
1508,2,6843,imdownthepub,1044961200,England
1509,1,56360,jkm,1182679200,Australia
1510,1,56041,Thylacine,1182074400,Australia
1511,1,22710,Jarmby,1117533600,Australia
1512,1,5536,johninmelb,1031479200,England
1513,1,6237,TipsyMcStager,1039172400,Canada
1514,1,26446,Quinten,1124877600,Netherlands
1515,1,23018,bridge,1118484000,Australia
1516,1,27349,ihaveaneed4ale,1126951200,Canada
1517,1,4668,MartinKubert,1022580000,Denmark
1518,1,7305,Betty,1049968800,Australia
1519,1,3947,OlJuntan64,1018000800,Australia
1520,1,333038,drjoeng,1409220000,Singapore
1521,1,78296,Borresteijn,1215770400,Netherlands
1522,1,84261,dnoaksson,1228734000,Sweden
1523,2,9307,ghawener,1068116400,El Salvador
1524,1,43183,Derek881,1160042400,"United States, Colorado"
1525,1,113005,bth122,1283680800,"United States, Pennsylvania"
1526,1,110475,cbfobes,1279965600,"United States, Illinois"
1527,1,21466,NJJereme,1113040800,"United States, Pennsylvania"
1528,1,89133,dionysus,1237806000,"United States, Oregon"
1529,1,3415,michael-pollack,1013857200,"United States, Pennsylvania"
1530,1,44621,Muggus69,1162810800,Australia
1531,1,42480,wrxkaboom,1158573600,"United States, Alaska"
1532,1,170041,BlackBeerPG,1334743200,"United States, Illinois"